*{
    margin:0;
    padding:0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background: black;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding: 10px 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 300px;
    height: 80px; 
    margin-top: -25px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;  
}
nav ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    width: 0%;
    content: '';
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.downloadcv a{
    padding: 16px 35px;
    text-decoration: none;
    border: #ff004f 1px solid;
    border-radius: 35px;
    letter-spacing: 2px;
    color: #ffffff;
    position: absolute;
    margin: 0% 13%;

}

.downloadcv a:hover{
    background-color: #ff004f;
}

.header-text h1{
    font-size: 35px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

/*--------about------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 30px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    margin-left: -50px;
}

.tab-links{
    cursor: pointer;
    position: relative;
    font-weight: 500;
    margin-left: 50px;
    font-size: 18px;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    transition: 0.5s;
    left: 0;
    position: absolute;
    bottom: -8px;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0; 
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 20px;
    font-weight: 600;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*---------Services__________*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #465257;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 25px;
    transition: background 0.5s, transform 0.5s;
}


.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}

#portpolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.work img{
    border-radius: 20px;
    width: 100%;
    display: block;
    transition:transform(0.5s)
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.layer h3{
    font-weight 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1)
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    width: fit-content;
    border: 2px solid #ff004f;
    margin: 50px auto;
    border-radius: 8px;
    padding: 14px 50px;
    text-decoration: none;
    color: #f6f3f3;
    transition: background 1.0s;
}

.btn:hover{
    background: #ff004f;
}
/*-------contact-----*/

.row{
    margin-top: 0px;
}
.contact-left{
    flex-basis: 35%;
    margin-left: 50px;
}
.contact-right{
    flex-basis: 60%;

}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
   color: #ff004f;
   margin-right: 15px;
   font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
   width: 100%;
}

form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 0px 0;
    margin-bottom: 35px;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/*------------ css for small screens----------- */

nav .fa-sharp{
    display: none;
}

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }

    nav .fa-sharp{
        display: block;
        font-size: 25px;
    }
    
    nav .fa-solid{
        display: block;
        font-size: 25px;
        margin-right: 25px;
    }

    .header-text{
        margin-top: 90%;
        font-size: 16px;
    }
    
    .header-text h1{
        font-size: 30px;
        
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 35px;
    }

    nav ul .fa-sharp{
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 25px;
    }
    .tab-titles{
        padding-left: -50px;
        margin-left: -50px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
        margin-left: 20px;
    }
    .contact-right{
        margin-left: 20px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
